{% extends 'shop/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="login_class">
    <h1>ورود به سایت</h1>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% render_field form.username|add_class:"user_input" placeholder="نام کاربری" %}
            {% render_field form.password|add_class:"user_input" placeholder="رمز عبور" %}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" class="btn btn-success" value="ورود"></p>
            <p><a href="{% url 'register' %}">ثبت نام</a> </p>
        </form>
    </div>
</div>
{% endblock content %}