{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
</head>
<body>
{#header#}
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#      <div class="container-fluid">#}
{#        <a class="navbar-brand" href="#">Navbar</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarNav">#}
{#          <ul class="navbar-nav">#}
{#            <li class="nav-item">#}
{#              <a class="nav-link active" aria-current="page" href="{% url 'shop:list' %}">Home</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="{% url 'cart:cart_detail' %}"> <i class="fas fa-shopping-cart"></i>#}
{#                {% if request.session.cart %}#}
{#                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ cart|length }}</span> <span class="sr-only">(current)</span>#}
{#                {% endif %}#}
{#              </a>#}
{#            </li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{#    </nav>#}
{#    header#}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'shop:list' %}">DIGIKALA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'shop:list' %}">خانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">درباره ما</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">دسته بندی</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">همه محصولات</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </li>
                    </ul>
                    <form method="GET" action="{% url 'shop:search' %}" style="margin-right: 30px;">
                        <div class="input-group">
                          <div class="form-outline">
                            <input type="text" id="form1" class="form-control" name="Q" />
                          </div>
                          <button type="submit" class="btn btn-dark">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                    </form>
                    <form class="d-flex" action="{% url 'cart:cart_detail' %}">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="fas fa-shopping-cart"></i>
                            سبد خرید
                            {% if request.session.cart %}
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart|length }}</span>
                            {% endif %}
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav" style="margin-left: 5px;margin-block-end: 1em;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">پروفایل</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">خروج</a></li>
                            </ul>
                        </li>
                        </ul>
                    {% else %}
                        <div class="d-flex" style="margin-top: 0;margin-block-end: 1em;margin-left: 5px">
                            <a href="{% url 'login' %}">

                                <button class="btn btn-outline-danger">
                                ورود
                            </button>

                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>