{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
</head>
<body>
{#header#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'shop:list' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart:cart_detail' %}"> <i class="fas fa-shopping-cart"></i>
                {% if request.session.cart %}
                    <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ cart|length }}</span> <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{#    header#}
    {% block content %}

    {% endblock content %}
</body>
</html>