{% extends 'shop/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ product.name }}
        {% endblock title %}
    </title>
</head>
<body>
{% block content %}
    <div class="card mb-3" style="display: block;width: 90%;margin: 80px auto;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." style="width: 63%;height: 216px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><small class="text-muted">{{ product.price }} : قیمت</small></p>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {{ form.as_p }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-dark"><i class="fas fa-shopping-cart"></i> اضافه کردن به سبد خرید  </button>
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
</body>
</html>